* {
    margin: 0px;
    padding: 0px;
}

nav {
    background-color: #3D7EA6;
    overflow: hidden;
    justify-content: space-between;
    display: block;
}

body {
    width: 100%; /* Base page size = 1200 px */
    font-family: 'Source Sans Pro', sans-serif;
    color: black;
    font-size: 15px; /* Base font-size = 16px */
    align-self: center;
    background-color: #FCDADA;

}

.pequePika {
    max-width: 5%;
    position: relative;
    left: 50%;
    transform: translatex(-50%);
}

.gottaCatch{
    padding-top: 2%;
    max-width: 50%; /* Fluid images! For IE6 support, create a separate IE6 */
    height: auto;    /* stylesheet and include "img { width: 100%;}"         */
    padding-bottom: 2%;
    display: block;
    text-align: center;
    position: relative;
    left: 50%;
    transform: translatex(-50%);

}

.introduccion{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    text-align: left;
    padding-bottom: 3%;
    margin: 3%;
}

.busqueda {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    text-align: center;
    padding-bottom: 2%;
}

.pokeInput {
    background-color:white;
    border: black;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    border: 2px solid black;
    border-radius: 4px;
}


.botonForm {
    background-color: #FFA5A5;
    border: black;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    border: 2px solid black;
    border-radius: 6px;
}


.pokemon-container {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    text-align: center;
    padding-top: 0.5%;
}

img {
    max-width: 100%; /* Fluid images! For IE6 support, create a separate IE6 */
    height: auto;    /* stylesheet and include "img { width: 100%;}"         */
    align-self: center;
}

h1{
    font-family: 'Source Sans Pro', sans-serif;
    color: #3D7EA6;
    text-align: center;
}

h2{
    font-family: 'Source Sans Pro', sans-serif;
    margin: 3%;
    font-size: 15px;
}

h3{
    font-family: 'Source Sans Pro', sans-serif;
    margin: 3%;
    font-size: 13px;
}
h4{
    font-family: 'Source Sans Pro', sans-serif;
    margin: 3%;
    font-size: 9px;
    text-align: right;
    color: black;

}

#pokeDetails-page {
    left: 50%;
    transform: translatex(-50%);
}




.enlacePie {
    margin: 3%;
    width: 40%;
}


footer{
    background-color: #FFA5A5;
    font-family: 'Source Sans Pro', sans-serif;
    color: #fff;
    overflow: hidden;
    text-align: left;
    font-size: 1em;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer img {
    max-width: 50%; /* Fluid images! For IE6 support, create a separate IE6 */
    height: auto;

}

.fin{
    background-color: #5C969E ;
}

a {
    color: #0C005A;
    text-decoration: none;
}


