.introduccion{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 30px;
    text-align: justify;
    padding-bottom: 3%;
    margin: 3%;
}

h2{
    font-family: 'Source Sans Pro', sans-serif;
    margin: 3%;
    font-size: 22px;
}

h3{
    font-family: 'Source Sans Pro', sans-serif;
    margin: 3%;
    font-size: 18px;
}

.busqueda {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 25px;
    text-align: center;
    padding-bottom: 2%;
}

.pokeInput {
    background-color:white;
    border: black;
    color: black;
    padding: 20px 52px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 4px;
}
.botonForm {
    background-color: #FFA5A5;
    border: black;
    color: black;
    padding: 20px 42px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 6px;
}

footer{
    width: 100%;
    height: 281px;
    position: relative;
    bottom: 0;
    left: 0;
    margin-top: 1000px;

}
