* {
    margin: 0px;
    padding: 0px;
}

body {
    width: 100%; /* Base page size = 1200 px */
    font-family: 'Source Sans Pro', sans-serif;
    color: #5C969E;
    font-size: 1em; /* Base font-size = 16px */
    align-self: center;
    background-color: #FCDADA;
}

nav {
    background-color: #3D7EA6;
    overflow: hidden;
    justify-content: space-between;
    display: block;

}

body main img{
    padding-top: 2%;
    max-width: 50%; /* Fluid images! For IE6 support, create a separate IE6 */
    height: auto;    /* stylesheet and include "img { width: 100%;}"         */
    padding-bottom: 2%;
    display: block;
    text-align: center;
    position: relative;
    left: 50%;
    transform: translatex(-50%);


}

img {
    padding-top: 2%;
    max-width: 100%; /* Fluid images! For IE6 support, create a separate IE6 */
    height: auto;    /* stylesheet and include "img { width: 100%;}"         */
    padding-bottom: 2%;
    align-self: center;
}

h1{
    color: #3D7EA6;
    text-align: center;
}

input[type=text] {
    background-color:white;
    border: black;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: compact;
    font-size: 16px;
    border: 2px solid black;
    border-radius: 4px;
}


input[type=submit] {
    background-color: #FFA5A5;
    border: black;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: 2px solid black;
    border-radius: 4px;
}

header nav div img {
    max-width: 5%;
    position: relative;
    left: 50%;
    transform: translatex(-50%);
}

header nav div a{
    text-decoration: none;
    font-size: small;
    color: #fff;
    padding: 0.30em; /* 12px / 16px */
    display: block;
    text-align: center;
    position: relative;
    left: 50%;
    transform: translatex(-50%);
}

footer h2 {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #FFA5A5;
}


footer {
    margin-top: 1em; /* 16px / 16 px*/
    background-color: #FFA5A5;
    font-family: 'Source Sans Pro', sans-serif;
    color: #fff;
    padding:  3em 1em; /* 16px / 16 px*/
    overflow: hidden;
    text-align: left;
}


main section h1{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 25px;
    text-align: left;
    padding-bottom: 3%;
}

main section h3{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    text-align: left;
    padding-bottom: 3%;
}


main section div div form div {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    text-align: center;
    padding-bottom: 2%;
}


main section div div form div div {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    text-align: center;
    padding-top: 0.5%;
   /* background: url("img/pokeball.png") no-repeat fixed center;;
    text-align: center;*/

}



a {
    color: #0C005A;
    text-decoration: none;
    alignment: center;
}


figure {
    text-align: center;
}

time {
	font-style: italic;
	font-size: 0.75em; /* 12px / 16px */
}

#wrapper {
    width: 95%; /* 1140px / 1200 px */
    margin: 0px auto;
}

nav ul {
    list-style: none;
}

nav ul li {
    width: 25%; /* 200px / 1200px */
    float: left;
    text-align: center;
}

nav ul li a {
    text-decoration: none; 
    font-size: 1.25em; /* 20px / 16 px */
    color: #fff;
    padding: 0.70em; /* 12px / 16px */
    display: block;
}

header{
    clear: both;
}














/*.twitter {
    background-position: -240px -212px;    
}

.facebook {
    background-position: -288px -48px;    
}*/



/*
@media screen and (min-width: 480px) and (max-width: 1023px) {
	header #logo {
    <!--background: url(../i/logo-large.png) no-repeat center;-->
    height: 345px;
    width: 67%;
    float: left;
	}

	header h2 {		
		padding: 1.25em 0;
		width: 30%;
		float: right;
	}

	#main {
		width: 67%;	
		float: left;
	}

   #blog{
		width: 30%;
		float: right;
   }

   #extra {
		clear: both;
   }

   #extra article#list {
		width: 67%;
		float: left;
   }

   #extra article#about, #extra article#social {
		width: 30%;
		float: right;
   }

   footer {
		clear: both;
   }
}

@media screen and (min-width: 800px) {
	header #logo {
	   <!--background: url(../i/logo-large.png) no-repeat center;-->
      height: 345px;
		width: 60%;
		float: left;
	}

	header h2 {
		padding: 1.25em 0;
		width: 40%;
		float: right;
      font-size: 2em; !* 32px / 16 px *!
	}

	#main {
		clear: left;
		width: 57%;	
		float: left;
		padding-right: 3%;
	}

   #blog{
		width: 18.5%;
		float: left;
		padding-right: 1.5%;
   }
   
   #extra {
		width: 18.5%;
		float: left;  
		padding-left: 1.5%;
   } 
   
   #extra article#list, #extra article#social, #extra article#about {
		padding: 0;
		width: 100%;
   }
   
   footer {
		clear: both;   
   }

}*/
